# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependency directories
node_modules/

# Build output
dist/
dist-ssr/
build/

# Env files
.env
.env.*
!.env.example

# Editor files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
Thumbs.db

# Cache
.cache/
.parcel-cache/

# Vite
.vite/

# Coverage
coverage/

# Lock files (opcional)
pnpm-lock.yaml
yarn.lock
bun.lockb
